{% include 'admin/partials/header.twig' with { isSuccess, message, title: 'Account Details' } %}
{% if isApiConnected == true and values.cws5baddi_account_details is not empty %}
<div class="wrap">
	<table class="form-table" role="presentation" style="background: white; display: inline-table; width: 40%; border-radius: .5rem; box-shadow: 0 0 2px 2px #d0d0d0;">
		<tbody>
			<tr>
				<th scope="row" style="padding: 1rem;">
					<label>{{ 'Full name'|translate }}</label>
				</th>
				<td style="padding: 1rem;">
					<p>{{ values.cws5baddi_account_details.fullName }}</p>
				</td>
			</tr>
			<tr>
				<th scope="row" style="padding: 1rem;">
					<label>{{ 'Balance'|translate }}</label>
				</th>
				<td style="padding: 1rem;">
					<p>€{{ function('number_format', values.cws5baddi_account_details.currentBalance ?? 0, 2, '.', ' ') }}</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
<div class="wrap">
	<form method="POST" action="{{ urls.accountSettings }}">
		{{ function('wp_nonce_field', groupName) }}
		<table class="form-table" role="presentation">
			<tbody>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_id">{{ 'API client ID'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_id }}" id="cws5baddi_api_client_id" name="cws5baddi_api_client_id" aria-describedby="cws5baddi_api_client_id_description"/>
						<p class="description" id="cws5baddi_api_client_id_description">
							{{ 'Generate client ID under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_secret">{{ 'API client secret'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_secret }}" id="cws5baddi_api_client_secret" name="cws5baddi_api_client_secret" aria-describedby="cws5baddi_api_client_secret_description"/>
						<p class="description" id="cws5baddi_api_client_secret_description">
							{{ 'Generate client secret under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_signature">{{ 'API client signature'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_signature }}" id="cws5baddi_api_client_signature" name="cws5baddi_api_client_signature" aria-describedby="cws5baddi_api_client_signature_description"/>
						<p class="description" id="cws5baddi_api_client_signature_description">
							{{ 'Get client signature under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
            </tbody>
        </table>

		{{ function('submit_button') }}
    </form>
</div>
{% include 'admin/partials/footer.twig' with { isApiConnected } %}
