{% include 'admin/partials/header.twig' with { isSuccess, message, title: 'CodesWholesale - General Settings' } %}
<div class="wrap">
	<form method="POST" action="options.php">
		{{ function('settings_fields', groupName) }}
		<table class="form-table" role="presentation">
			<tbody>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_id">{{ 'API client ID'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_id }}" id="cws5baddi_api_client_id" name="cws5baddi_api_client_id" aria-describedby="cws5baddi_api_client_id_description"/>
						<p class="description" id="cws5baddi_api_client_id_description">
							{{ 'Generate client ID under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_secret">{{ 'API client secret'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_secret }}" id="cws5baddi_api_client_secret" name="cws5baddi_api_client_secret" aria-describedby="cws5baddi_api_client_secret_description"/>
						<p class="description" id="cws5baddi_api_client_secret_description">
							{{ 'Generate client secret under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_api_client_signature">{{ 'API client signature'|translate }}</label>
					</th>
					<td>
						<input style="min-width: 40%;" type="text" value="{{ values.cws5baddi_api_client_signature }}" id="cws5baddi_api_client_signature" name="cws5baddi_api_client_signature" aria-describedby="cws5baddi_api_client_signature_description"/>
						<p class="description" id="cws5baddi_api_client_signature_description">
							{{ 'Get client signature under API tab on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_profit_margin_type">{{ 'Profit margin type'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_profit_margin_type">
							<input name="cws5baddi_profit_margin_type" type="radio" id="cws5baddi_profit_margin_type" value="1" {% if values.cws5baddi_profit_margin_type == 1 %} checked {% endif %}/>
							{{ 'Amount'|translate }}
						</label>
						<label for="cws5baddi_profit_margin_type" style="margin-left: 2rem;">
							<input name="cws5baddi_profit_margin_type" type="radio" id="cws5baddi_profit_margin_type" value="2" {% if not values.cws5baddi_profit_margin_type or values.cws5baddi_profit_margin_type == 2 %} checked {% endif %}/>
							{{ 'Percentage'|translate }}
						</label>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_profit_margin_value">{{ 'Profit margin value'|translate }}</label>
					</th>
					<td>
						<input type="number" value="{{ values.cws5baddi_profit_margin_value ?? 5 }}" id="cws5baddi_profit_margin_value" name="cws5baddi_profit_margin_value" aria-describedby="cws5baddi_profit_margin_value_description"/>
						<p class="description" id="cws5baddi_profit_margin_value_description">
							{{ 'Enter a value depending on the margin type chosen. The value will be added to CodesWholesale price and will apply to all products.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_currency">{{ 'Currency'|translate }}</label>
					</th>
					<td>
						<select id="cws5baddi_currency" name="cws5baddi_currency" aria-describedby="cws5baddi_currency_description">
							{% for value, label in currencies %}
								<option value="{{ value }}" {% if values.cws5baddi_currency == value %} selected {% endif %}>{{ label }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_auto_complete_orders">{{ 'Auto-complete orders'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_auto_complete_orders">
							<input name="cws5baddi_auto_complete_orders" type="checkbox" id="cws5baddi_auto_complete_orders" value="1" {% if values.cws5baddi_auto_complete_orders == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_auto_complete_orders_description">
							{{ 'Get orders automatically completed upon payment. This option only works with IPN payments (eg. PayPal).'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_auto_complete_orders">{{ 'Pre-order products'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_pre_order_products">
							<input name="cws5baddi_pre_order_products" type="checkbox" id="cws5baddi_pre_order_products" value="1" {% if values.cws5baddi_pre_order_products == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_pre_order_products_description">
							{{ 'Enable or disable purchasing pre-order products.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_automatic_product_import">{{ 'Automatic product import'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_automatic_product_import">
							<input name="cws5baddi_automatic_product_import" type="checkbox" id="cws5baddi_automatic_product_import" value="1" {% if values.cws5baddi_automatic_product_import == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_automatic_product_import_description">
							{{ 'Import newly added products automatically.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_low_balance_notification">{{ 'Low-balance notification'|translate }}</label>
					</th>
					<td>
						<input type="number" value="{{ values.cws5baddi_low_balance_notification ?? 100 }}" id="cws5baddi_low_balance_notification" name="cws5baddi_low_balance_notification" aria-describedby="cws5baddi_low_balance_notification_description"/>
						<p class="description" id="cws5baddi_low_balance_notification_description">
							{{ 'If your account balance on CodesWholesale reaches below the value entered, you will receive an email notification.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_risk_score_value">{{ 'Risk score value'|translate }}</label>
					</th>
					<td>
						<input type="number" value="{{ values.cws5baddi_risk_score_value ?? 2 }}" id="cws5baddi_risk_score_value" name="cws5baddi_risk_score_value" aria-describedby="cws5baddi_risk_score_value_description"/>
						<p class="description" id="cws5baddi_risk_score_value_description">
							{{ 'The order will be suspended if the client’s risk score is equal or higher than the value entered. The recommended value is 1.5.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_double_check_price">{{ 'Double-check price'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_double_check_price">
							<input name="cws5baddi_double_check_price" type="checkbox" id="cws5baddi_double_check_price" value="1" {% if values.cws5baddi_double_check_price == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_double_check_price_description">
							{{ 'Compare your stock price with that of CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_hide_products">{{ 'Hide products'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_hide_products">
							<input name="cws5baddi_hide_products" type="checkbox" id="cws5baddi_hide_products" value="1" {% if values.cws5baddi_hide_products == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_hide_products_description">
							{{ 'Hide products that are disabled on CodesWholesale.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_product_description_language">{{ 'Product description language'|translate }}</label>
					</th>
					<td>
						<select id="cws5baddi_product_description_language" name="cws5baddi_product_description_language" aria-describedby="cws5baddi_product_description_language_description">
							<option {% if values.cws5baddi_product_description_language == 'de' %} selected {% endif %} value="de">
								{{ 'German'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'en' %} selected {% endif %} value="en">
								{{ 'English'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'es' %} selected {% endif %} value="es">
								{{ 'Spanish'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'fr' %} selected {% endif %} value="fr">
								{{ 'French'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'Multilanguage' %} selected {% endif %} value="Multilanguage">
								{{ 'Multilanguage'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'pl' %} selected {% endif %} value="pl">
								{{ 'Polish'|translate }}
							</option>
							<option {% if values.cws5baddi_product_description_language == 'ru' %} selected {% endif %} value="ru">
								{{ 'Russian'|translate }}
							</option>
						</select>
						<p class="description" id="cws5baddi_product_description_language_description">
							{{ 'Select a language of product descriptions.'|translate }}
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<label for="cws5baddi_charm_pricing">{{ 'Charm pricing'|translate }}</label>
					</th>
					<td>
						<label for="cws5baddi_charm_pricing">
							<input name="cws5baddi_charm_pricing" type="checkbox" id="cws5baddi_charm_pricing" value="1" {% if values.cws5baddi_charm_pricing == true %} checked {% endif %}/>
						</label>
						<p class="description" id="cws5baddi_charm_pricing_description">
							{{ 'Make all your prices more attractive to your customers. See the examples below:'|translate }}
							<ul>
								<li><p class="description">10.01 - 10.29 {{ 'range'|translate }} ➜ 10.29</p></li>
								<li><p class="description">10.30 {{ 'to'|translate }} 10.49 {{ 'range'|translate }} ➜ 10.49</p></li>
								<li><p class="description">10.50 {{ 'to'|translate }} 10.79 {{ 'range'|translate }} ➜ 10.79</p></li>
								<li><p class="description">10.80 {{ 'to'|translate }} 10.99 {{ 'range'|translate }} ➜ 10.99</p></li>
								<li><p class="description">10.00 ➜ 9.99</p></li>
							</ul>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

		{{ function('submit_button') }}
	</form>
</div>
